<header>
    <nav class="navBar">
        <div class="navBar__options">
            <a>About
            </a>
            <div class="navBar__select">
                <a>Menus<i class="fa-solid fa-angle-down"></i></a>
                <div class="navBar__select__dropdown-content">
                    <a href="#">Breakfast</a>
                    <a href="#">Lunch</a>
                    <a href="#">Dinner</a>
                </div>
            </div>
            <a>Reservations</a>
        </div>
        <i class="fa-solid fa-bars"></i>
        <a href="https://www.google.com">
            <img class='navBar__logo' src="./images/logo.png" alt=""></a>
        <div class='navBar__options'>
            <a>Private Events</a>
            <a>Gift Shop</a>
            <div class="navBar__select">
                <a>Updates<i class="fa-solid fa-angle-down"></i></a>
                <div class="navBar__select__dropdown-content">
                    <a href="#">Media</a>
                    <a href="#">Latest</a>
                    <a href="#">Careers</a>
                </div>
            </div>
        </div>
        <a class='nav-small' href="#">CALL</a>
    </nav>
</header>